<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <title>新华智云</title>
  <meta content="新华智云,新华通讯社,媒体大数据,媒体分发" name="keywords" />
  <meta
    content="新华智云，新华通讯社、阿里巴巴联手打造，致力于通过大数据技术驱动媒体变革，让媒体数据化，让媒体智能化！为媒体未来研发涉及存储、生产、分发、计算等全产业链的专有技术，重点打造覆盖采、编、发全流程的数据服务生态系统。"
    name="description" />
  <meta name="data-spm" content="xinhuazhiyun.home" />
  <link rel="dns-prefetch" href="//s.newscdn.cn" />
  <link href="//s.newscdn.cn/common/0.0.4/imgs/favicon.png" rel="shortcut icon" type="image/x-icon">
</head>
<body class="container">
  <div style='overflow:hidden; width:0px; height:0; margin:0 auto; position:absolute; top:-800px;'>
    <img src='//s.newscdn.cn/file/2019/08/7a92ae76-0a6d-4792-9117-ea8c7df1d7ff.png' />
  </div>
  <div class="home-container">
    <section class="menu clearfix">
      <a class="logo" href="/">
        <img src="<%= htmlWebpackPlugin.options.publicPath %>static/logo.png" alt="">
      </a>
      <ul class="pc">
        <li>
          <a href="javascript:void 0;">产品</a>
          <ul class="home-list">
            <li>
              <a href="https://magic.shuwen.com" target="_blank" class="clearfix">
                <img src="<%= htmlWebpackPlugin.options.publicPath %>static/magic.png" alt="">
                <div class="text">
                  <span class="title">MAGIC</span>
                  <span class="subtitle">短视频智能生产平台</span>
                </div>
              </a>
            </li>
            <li>
              <a href="https://shuwen.com" target="_blank" class="clearfix">
                <img src="<%= htmlWebpackPlugin.options.publicPath %>static/mtdn.png" alt="">
                <div class="text">
                  <span class="title">媒体大脑</span>
                  <span class="subtitle">国内首个媒体人工智能平台</span>
                </div>
              </a>
            </li>
          </ul>
        </li>
        <li><a href="/team.html">团队</a></li>
        <li><a href="/hire.html">招聘</a></li>
        <li><a href="/contact.html">联系</a></li>
      </ul>
      <a href="javascript:void 0;" class="mobile mobile-menu open">
        <img src="<%= htmlWebpackPlugin.options.publicPath %>static/menu.png" class="open" alt="">
      </a>
      <ul class="mobile hidden menu-list">
        <li><a href="/team.html">团队</a></li>
        <li><a href="/hire.html">招聘</a></li>
        <li><a href="/contact.html">联系</a></li>
        <li>
          <div>
            <img src="<%= htmlWebpackPlugin.options.publicPath %>static/mobile-magic.png" class="open" alt="">
            <a href="https://magic.shuwen.com" target="_blank">MAGIC</a>
          </div>
        </li>
        <li>
          <div>
            <img src="<%= htmlWebpackPlugin.options.publicPath %>static/mobile-mtdn.png" class="open" alt="">
            <a href="https://shuwen.com" target="_blank">媒体大脑</a>
          </div>
        </li>
      </ul>
    </section>
    <section class="home-banner">
      <div>
        <video class="video pc" src="https://s.newscdn.cn/file/2019/08/41be6a50-eee0-44ee-a378-4ecae6f5e92d.mp4" preload="auto"
          muted="" loop="loop" id="xhzy-video"></video>
        <img class="mobile" src="<%= htmlWebpackPlugin.options.publicPath %>static/h5homepage_topbanner.jpg" alt="">
        <div class="text pc">
          <img src="<%= htmlWebpackPlugin.options.publicPath %>static/home-banner-tip.png" alt="">
        </div>
      </div>
    </section>
    <section class="intro">
      <div class="title-wrapper red">
        <div class="section-title">公司简介</div>
        <div class="section-subtitle">最懂媒体的技术公司 最懂技术的媒体公司</div>
      </div>
      <div class="intro-content-wrapper">
        <p>
          新华智云科技有限公司是由中国国家通讯社——新华社和阿里巴巴集团共同投资成立的人工智能科技公司。公司成立于2017年6月，注册资本5亿元人民币，旨在用智能技术赋能内容行业，帮助内容人员更好更快的采集和处理新闻资源。新华智云自主研发了中国第一个媒体人工智能平台“媒体大脑”，并推出“MAGIC短视频智能生产平台”（magic.shuwen.com），在国内首次推出并应用了20+款内容机器人，已经成为中国最大的内容“机器人”生产商和服务商，也被誉为中国最了解内容的技术公司。
        </p>
        <ul>
          <li>
            <img src="<%= htmlWebpackPlugin.options.publicPath %>static/fenfa.png" alt="">
            <div>新闻分发</div>
          </li>
          <li>
            <img src="<%= htmlWebpackPlugin.options.publicPath %>static/jiance.png" alt="">
            <div>版权监测</div>
          </li>
          <li>
            <img src="<%= htmlWebpackPlugin.options.publicPath %>static/user.png" alt="">
            <div>用户画像</div>
          </li>
          <li>
            <img src="<%= htmlWebpackPlugin.options.publicPath %>static/face.png" alt="">
            <div>人脸核查</div>
          </li>
          <li>
            <img src="<%= htmlWebpackPlugin.options.publicPath %>static/tts.png" alt="">
            <div>语音合成</div>
          </li>
        </ul>
      </div>
    </section>
    <section class="history">
      <div class="title-wrapper blue">
        <div class="section-title">发展历程</div>
        <div class="section-subtitle">八卦田 梦开始的地方</div>
      </div>
      <div class="history-content-wrapper">
        <ul class="time-list">
          <li class="current">2019</li>
          <li>2018</li>
          <li>2017</li>
        </ul>
        <ul class="history-list 2019">
          <li class="clearfix">
            <span class="time">8月</span>
            <span class="content">正式推出基于人工智能技术和内容应用场景的20+款内容“机器人”，集中应用在“媒体大脑·MAGIC”平台，成为中国最大的内容“机器人”生产商和服务商。</span>
          </li>
          <li class="clearfix">
            <span class="time">3月</span>
            <span class="content">《资讯信息生成方法及设备》取得专利授权。截至3月，新华智云已取得或正在审查的专利47件，软件著作权14件，“媒体大脑”等7件商标注册成功。</span>
          </li>
          <li class="clearfix">
            <span class="time">1月</span>
            <span class="content">新华智云被浙江省科技厅认定为浙江省科技型中小企业</span>
          </li>
        </ul>
        <ul class="history-list 2018 hidden">
          <li class="clearfix">
            <span class="time">12月</span>
            <span class="content">经过半年试运行的“媒体大脑·MAGIC”短视频智能生产平台在成都重磅发布，这也是人工智能技术首次在内容领域集成化、产品化和商业化的应用</span>
          </li>
          <li class="clearfix">
            <span class="time">7月</span>
            <span class="content">“媒体大脑·MAGIC”实战俄罗斯足球世界杯，机器生产的短视频占据世界杯短视频半壁江山</span>
          </li>
          <li class="clearfix">
            <span class="time">6月</span>
            <span class="content">中国第一个短视频智能生产平台——“媒体大脑·MAGIC”试运行</span>
          </li>
          <li class="clearfix">
            <span class="time">2月</span>
            <span class="content">北京分公司正式成立，南北协同发展格局基本形成。</span>
          </li>
        </ul>
        <ul class="history-list 2017 hidden">
          <li class="clearfix">
            <span class="time">12月</span>
            <span class="content">中国第一个媒体人工智能平台——媒体大脑在成都重磅发布，率先提出机器生产内容（MGC）的概念并付诸于新闻实践。</span>
          </li>
          <li class="clearfix">
            <span class="time">6月</span>
            <span class="content">新华智云科技有限公司在杭州正式成立，注册资本5亿元人民币，这也是中国唯一一家由国家级媒体和BAT合资成立的人工智能公司，35名同学成为公司第一批员工。</span>
          </li>
        </ul>
      </div>
    </section>
    <section class="report">
      <div class="title-wrapper red">
        <div class="section-title">媒体报道</div>
        <div class="section-subtitle">最新动态 专题报道</div>
      </div>
      <div class="report-content-wrapper">
        <ul class="report-list">
        </ul>
        <div class="report-footer clearfix pc">
          <ul class="pagination">
            <li class="current">1</li>
            <li>2</li>
            <li>3</li>
          </ul>
          <div class="contact">
            报道我们请联系 business@shuwen.com
          </div>
        </div>
        <div class="report-footer mobile">
          <ul class="pagination clearfix">
            <li class="btn-prev">上一页</li>
            <li class="btn-next">下一页</li>
          </ul>
          <div class="contact">
            报道我们请联系 business@shuwen.com
          </div>
        </div>
      </div>
    </section>
    <section class="footer-banner swiper-container">
      <ul class="swiper-wrapper">
        <li class="swiper-slide">
          <div class="banner-title-wrapper">
            <div class="title">VISION</div>
            <div class="subtitle">整合全球数据达到人人可用，激活所有人的创意。</div>
          </div>
          <img src="<%= htmlWebpackPlugin.options.publicPath %>static/homepage_banner01.jpg" class="pc" alt="">
          <img src="<%= htmlWebpackPlugin.options.publicPath %>static/mobile-vision01.jpg" class="mobile" alt="">
        </li>
        <li class="swiper-slide">
          <div class="banner-title-wrapper">
            <div class="title">VISION</div>
            <div class="subtitle">凭计算之力， 求数据洞察。 赋万物为媒，迎智能时代。</div>
          </div>
          <img src="<%= htmlWebpackPlugin.options.publicPath %>static/homepage_banner02.jpg" class="pc" alt="">
          <img src="<%= htmlWebpackPlugin.options.publicPath %>static/mobile-vision02.jpg" class="mobile" alt="">
        </li>
      </ul>
      <div class="swiper-pagination"></div>
    </section>
    <section class="footer clearfix">
      <div class="contact clearfix">
        <div class="icon">
          <a href="https://weibo.com/xinhuazhiyun" class="weibo" target="_blank"></a>
          <a href="javascript:void 0;" class="weixin">
            <img src="<%= htmlWebpackPlugin.options.publicPath %>static/wx-pop.png" alt="">
          </a>
        </div>
        <div class="link">
          <a href="https://account.shuwen.com/policies/terms" target="_blank">隐私条款</a>
          <a href="https://account.shuwen.com/policies/privacy" target="_blank">服务协议</a>
        </div>
      </div>
      <div class="copyright">© 2017-2019 新华智云 保留所有权. 浙ICP备17013939号-3</div>
    </section>
  </div>
<script src="//res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
</body>
<!-- 打点 -->
<div style="display:none">
  <script src="//s95.cnzz.com/z_stat.php?id=1261710036"></script>
</div>
<script src="//p.xinwen.cn/dot/spm.js"></script>
</html>